.modalecontainer{
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: #fffdcc ;
      position: fixed;
      background-color: #202020;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      z-index: 4;
  }
  
  .modalecontainer p {
    font-size: 2rem;
    font-family: "EB Garamond";
  }
  
  .modalecontainer button {
    font-family: "EB Garamond";
    background-color: #C42727;
    color: #fffdcc;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
  }