@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #d8b024;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputContainer input {
  width: 604px;
  height: 73.58px;
  background: #fffdcc;
  border: 1px solid #5f5353;
  border-radius: 10px;
  padding-left: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: black;
}
.inputContainer select {
  width: 604px;
  height: 73.58px;
  background: #fffdcc;
  border: 1px solid #5f5353;
  border-radius: 10px;
  padding-left: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: black;
}

.inputContainer select option {
  font-size: 20px;
}

/*User informations container*/

/*firstname + lastname container*/
.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 604px;
}

.nameContainer input {
  width: 285.94px;
  height: 73.58px;
  padding-left: 5px;
}

/*size birthday input*/
.birthdayContainer input {
  width: 285.94px;
  height: 73.58px;
}

.birthdayContainer {
  width: 604px;
  padding-left: 5px;
}

/*CP + street container*/
.streetContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 604px;
}

.streetContainer input {
  width: 285.94px;
  height: 73.58px;
  padding-left: 5px;
}
/*Preferences container*/

.preferContainer h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: #d8b024;
}

/*buttonswine*/
.buttonswineContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.redwine {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/14/20/23/grape-1140715_1280.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 190px;
  height: 100px;
  color: #fffdcc;
}

.redwine input {
  display: none;
}
.redwine label:hover {
  cursor: pointer;
}

.rosewine {
  background-image: url("https://cdn.pixabay.com/photo/2018/10/12/11/43/grapes-3741999_1280.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 190px;
  height: 100px;
  color: #fffdcc;
}

.rosewine input {
  display: none;
}
.rosewine label:hover {
  cursor: pointer;
}

.whitewine {
  background-image: url("https://cdn.pixabay.com/photo/2016/09/22/23/50/grape-1688607_1280.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 100px;
  color: #fffdcc;
}

.whitewine input {
  display: none;
}
.whitewine label:hover {
  cursor: pointer;
}

/*submit button*/
.submitButton {
  width: 263px;
  height: 73px;
  background: #c42727;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
}
.error {
  color: #c42727;
}

.bottomFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checked {
  box-shadow: 10px 5px 5px #fffdcc;
}

@media screen and (min-width: 1240px) {
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    height: 80vh;
  }
  .informationsContainer {
    height: 80vh;
  }
  .bottomFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
  }
  .preferContainer h2 {
    margin-top: 0;
  }
  .submitButton {
    margin-top: 100px;
  }
}
