.tooltipContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.tooltip {
  position: absolute;
  margin-left: -110px;
  margin-bottom:10px;
  left: 100%;
  transform: translateX(-50%);
  background-color: transparent;
  border: solid #d8b024;
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  align-items: center;
}

.tooltip span {
  display: block;
}
.tooltipButton{
  background-color: transparent;
  border: none;
  
}
.tooltipContainer img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
@media screen and (min-aspect-ratio: 1/1) {
  .tooltip {
    margin-left: 50px;
    background-color: #202020;
  
  }
}