.header {
    display: flex;
    flex-direction: row;
  }

  .inscriptionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .tastingPic {
    width: 100%;
    height: 100%;
  }