.bottle {
  width: 200px;
  height: 200px;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}

.wine {
  width: 100%;
  background-color: #8b0000;
  position: absolute;
  bottom: 0;
  transition: height 0.5s ease;
  height: 0;
}
.wineBottle {
  width: 600px;
  height: 800px;
  margin-left: -150px;
  margin-top: 80px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  margin-top: 300px;
  margin-left: -70px;
}
.inputContainer input {
  width: 145px;
  height: 64px;
  background-color: #fffdcc;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 28px;
}
.wineContainer {
  display: flex;
  flex-direction: row;
}
.input label {
  font-size: 28px;
}
.wineDescription p {
  font-size: 28px;
  color: white;
}
.wineDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.tooltip img {
  width: 50px;
}

.tooltip {
  display: inline-block;
  position: relative;
  border-bottom: 1px dotted #666;
  text-align: left;
}

.tooltip .right {
  min-width: 200px;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translate(0, -50%);
  padding: 10px 20px;
  color: #d8b024;
  background-color: transparent;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  border: 1px solid #d8b024;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

.tooltip:hover .right {
  display: block;
}

.tooltip .right i {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -16px;
  width: 16px;
  height: 32px;
  overflow: hidden;
}

.tooltip .right i::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  background-color: transparent;
  border: 1px solid #d8b024;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
