.wineBottle img {
  width: 500px;
  height: 700px;
  margin-left: -100px;
  margin-top: 60px;
}

.wineBottle {
  position: absolute;
  z-index: 1;
  margin-top: 30px;
}
.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -30px;
  height: 70vh;
}

.vertical-slider {
  height: 428px;
  width: 158px;
  border-radius: 30px 30px 20px 20px;
  z-index: 0;
  margin-left: 73px;
  margin-top: 320px;
  background-color: #981448;
}

.vertical-slider .example-track {
  left: 20px;
  width: 10px;
}
.example-track.example-track-0 {
  background: #4a0019;
  width: 100%;
  margin-left: -20px;
  border-radius: 0px 0px 25px 25px;
}
.example-track.example-track-1 {
  background: #50032b;
  width: 100%;
  margin-left: -20px;
  border-radius: 18px 18px 10px 10px;
}

.example-thumb {
  width: 30px;
  height: 30px;
  margin-left: 325px;
  text-align: center;
  background-color: #fffdcc;
  border-radius: 50%;
}

.totalWinesContainer {
  height: 40vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 330px;
  margin-left: 50px;
}
.totalWinesContainer p {
  font-size: 1.7rem;
  font-family: "EB Garamond";
  padding-top: 10px;
}
.vertical-slider-image {
  background-color: #fffdcc;
  width: 2px;
  height: 400px;
  margin-top: 360px;
  margin-left: 180px;
  display: flex;
}
.vertical-slider-image .max-value {
  margin-top: -30px;
  margin-left: -10px;
  display: flex;
}
.vertical-slider-image .min-value {
  margin-top: 430px;
  margin-left: -50px;
}
.value-container{
  display: flex;
  flex-direction: row;
}


.tooltip-button {
  background-color: transparent;
  border: none;
}

.tooltip-content {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}
.tooltip-content p {
  margin-top: -10px;
}
.button-style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.input-container{
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
  z-index: 15;
}
.input-container input{
  height: 73px;
  width: 350px;
  background-color: #fffdcc;
  border-radius: 10px;
  font-size: 1.7rem;
  padding: 10px;
}
.input-container input::placeholder{
color: #202020;
}