.wineBottle img {
  width: 600px;
  height: 800px;
  margin-left: -150px;
  margin-top: 80px;
}

.wineBottle {
  position: absolute;
  z-index: 1;
}
.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -30px;
  height: 70vh;
}

.vertical-slider {
  height: 500px;
  width: 178px;
  border-radius: 30px 30px 20px 20px;
  z-index: 0;
  margin-left: 64px;
  margin-top: 330px;
  background-color: #981448;
}

.vertical-slider .example-track {
  left: 20px;
  width: 10px;
}
.example-track.example-track-0 {
  background: #4a0019;
  width: 100%;
  margin-left: -20px;
  border-radius: 0px 0px 25px 25px;
}
.example-track.example-track-1 {
  background: #50032b;
  width: 100%;
  margin-left: -20px;
  border-radius: 18px 18px 10px 10px;
}

.example-thumb {
  width: 30px;
  height: 30px;
  margin-left: 380px;
  text-align: center;
  background-color: #fffdcc;
  border-radius: 50%;
}

.totalWinesContainer {
  height: 50vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 290px;
  margin-left: 50px;
}
.totalWinesContainer p {
  font-size: 2rem;
  font-family: "EB Garamond";
}
.vertical-slider-image {
  background-color: #fffdcc;
  width: 2px;
  height: 470px;
  margin-top: 330px;
  margin-left: 215px;
  display: flex;
}
.vertical-slider-image .max-value {
  margin-top: -40px;
  margin-left: -10px;
}
.vertical-slider-image .min-value {
  margin-top: 520px;
  margin-left: -17px;
}

.grapepicture {
  height: 17vh;
  width: auto;
}

.tooltip-button {
  background-color: transparent;
  border: none;
}

.tooltip-content {
  display: flex;
  flex-direction: column;
}
.tooltip-content p {
  margin-top: -10px;
}
.button-style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
