  .tastingPic {
    width: auto;
    height: 90%;
    margin: auto;
  }

  @media screen and (min-width: 900px) { 

    .tastingPic {
      width: auto;
      height: 100%;
      margin: auto;
    }
    .tastingButton{
    width: 20vw;
    }
  }
