@media screen and (min-aspect-ratio: 1/1) {
  .responsiveSheet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rate {
    width: 67vw;
  }
}

.colorContainer {
  display: flex;
  flex-direction: row;
}
.familyContainer {
  display: flex;
  flex-direction: row;
}
